# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

По всем вопросам только для регулярного сезона

In [579]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import numpy as np
import pandas as pd

In [580]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
file_path = r'baseball_games.csv'
#предусмотрительно заглянув в файл, обнаруживаем что есть колонка индексов 'Unnamed: 0' и можно использовать ее 
#для индексации, чтобы не плодить новых колонок
baseball_df = pd.read_csv(file_path, index_col='Unnamed: 0') 
baseball_df.head()

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,40030.000,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,0,...,74.000,14.000,from Right to Left,Sunny,7,3.217,regular season,1,0,Win
1,21621.000,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,0,...,55.000,24.000,from Right to Left,Overcast,5,2.383,regular season,1,0,Win
2,12622.000,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,0,...,48.000,7.000,out to Leftfield,Unknown,6,3.183,regular season,1,0,Win
3,18531.000,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,1,...,65.000,10.000,from Right to Left,Cloudy,4,2.883,regular season,0,1,Loss
4,18572.000,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,0,...,77.000,0.000,in unknown direction,In Dome,7,2.650,regular season,0,1,Loss

In [581]:
baseball_df.describe()

,attendance,away_team_errors,away_team_hits,away_team_runs,home_team_errors,home_team_hits,home_team_runs,temperature,wind_speed,total_runs,game_hours_dec,home_team_win,home_team_loss
count,2460.000,2463.000,2463.000,2463.000,2463.000,2463.000,2463.000,2463.000,2463.000,2463.000,2463.000,2463.000,2463.000
mean,30370.704,0.581,8.765,4.414,0.586,8.612,4.520,73.819,7.495,8.933,3.085,0.529,0.470
std,9875.467,0.793,3.512,3.105,0.806,3.437,3.112,10.583,5.056,4.480,0.460,0.499,0.499
min,8766.000,0.000,1.000,0.000,0.000,0.000,0.000,31.000,0.000,1.000,1.250,0.000,0.000
25%,22432.000,0.000,6.000,2.000,0.000,6.000,2.000,67.000,4.000,6.000,2.783,0.000,0.000
50%,30604.500,0.000,8.000,4.000,0.000,8.000,4.000,74.000,7.000,8.000,3.033,1.000,0.000
75%,38396.250,1.000,11.000,6.000,1.000,11.000,6.000,81.000,11.000,12.000,3.308,1.000,1.000
max,54449.000,5.000,22.000,21.000,5.000,22.000,17.000,101.000,25.000,29.000,6.217,1.000,1.000

In [582]:
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2463 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2460 non-null   float64
 1   away_team          2463 non-null   object
 2   away_team_errors   2463 non-null   int64
 3   away_team_hits     2463 non-null   int64
 4   away_team_runs     2463 non-null   int64
 5   date               2463 non-null   object
 6   field_type         2463 non-null   object
 7   game_type          2463 non-null   object
 8   home_team          2463 non-null   object
 9   home_team_errors   2463 non-null   int64
 10  home_team_hits     2463 non-null   int64
 11  home_team_runs     2463 non-null   int64
 12  start_time         2463 non-null   object
 13  venue              2463 non-null   object
 14  day_of_week        2463 non-null   object
 15  temperature        2463 non-null   float64
 16  wind_speed         2463 non-null   float64
 17  wind_direction     2463 non-null   object
 18  sky                2463 non-null   object
 19  total_runs         2463 non-null   int64
 20  game_hours_dec     2463 non-null   float64
 21  season             2463 non-null   object
 22  home_team_win      2463 non-null   int64
 23  home_team_loss     2463 non-null   int64
 24  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 500.3+ KB

По полю attendance количество отличается от количества записей в dataframe, значит есть null значения, заменим их на 0, предположив, что зрителей на этих матчах не было. Можно было бы дропнуть, но возможно есть полезная инфа по другим колонкам.

In [583]:
baseball_df.fillna(0, inplace=True)
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2463 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2463 non-null   float64
 1   away_team          2463 non-null   object
 2   away_team_errors   2463 non-null   int64
 3   away_team_hits     2463 non-null   int64
 4   away_team_runs     2463 non-null   int64
 5   date               2463 non-null   object
 6   field_type         2463 non-null   object
 7   game_type          2463 non-null   object
 8   home_team          2463 non-null   object
 9   home_team_errors   2463 non-null   int64
 10  home_team_hits     2463 non-null   int64
 11  home_team_runs     2463 non-null   int64
 12  start_time         2463 non-null   object
 13  venue              2463 non-null   object
 14  day_of_week        2463 non-null   object
 15  temperature        2463 non-null   float64
 16  wind_speed         2463 non-null   float64
 17  wind_direction     2463 non-null   object
 18  sky                2463 non-null   object
 19  total_runs         2463 non-null   int64
 20  game_hours_dec     2463 non-null   float64
 21  season             2463 non-null   object
 22  home_team_win      2463 non-null   int64
 23  home_team_loss     2463 non-null   int64
 24  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 500.3+ KB

In [584]:
#поскольку всю последующую аналитику мы будем строить по regular season для упрощения выборки 
#выделим в отдельный df только нужные данные

baseball_regular = baseball_df[baseball_df['season']=='regular season'].copy()
baseball_regular.reindex()
baseball_regular.head()

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,40030.000,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,0,...,74.000,14.000,from Right to Left,Sunny,7,3.217,regular season,1,0,Win
1,21621.000,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,0,...,55.000,24.000,from Right to Left,Overcast,5,2.383,regular season,1,0,Win
2,12622.000,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,0,...,48.000,7.000,out to Leftfield,Unknown,6,3.183,regular season,1,0,Win
3,18531.000,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,1,...,65.000,10.000,from Right to Left,Cloudy,4,2.883,regular season,0,1,Loss
4,18572.000,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,0,...,77.000,0.000,in unknown direction,In Dome,7,2.650,regular season,0,1,Loss

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [585]:
baseball_regular.iloc[[baseball_regular['attendance'].argmax()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,53621.000,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,0,...,77.000,6.000,out to Rightfield,Cloudy,2,3.600,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [586]:
baseball_regular[baseball_regular['temperature']==baseball_regular['temperature'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.000,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.000,18.000,from Left to Right,Cloudy,12,3.333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [587]:
baseball_regular.iloc[[baseball_regular['temperature'].argmax()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.000,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,0,...,101.000,9.000,in unknown direction,Sunny,4,3.000,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [588]:
baseball_regular.iloc[[baseball_regular['game_hours_dec'].argmax()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.000,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,2,...,68.000,0.000,in unknown direction,In Dome,3,6.217,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [589]:
baseball_regular.iloc[[baseball_regular['game_hours_dec'].argmin()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.000,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,0,...,63.000,12.000,in from Leftfield,Overcast,2,1.250,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [590]:
len(baseball_regular[baseball_regular['home_team_win']==baseball_regular['home_team_loss']])

1

# 7. Какая игра была последней в сезоне?

по одному только полю date мы нужный ответ не получаем, поэтому я добавила новую колонку где соединила дату и время начала в одно значение

In [591]:
#заменила p.m.|a.m. на аббревиаттуры, которые понимает to_datetime, и отбросила слово Local, т.к. оно в каждой строке.
baseball_regular.start_time.replace(regex=True, inplace=True, to_replace=['p.m.', 'a.m.', 'Local'],value=['PM', 'AM', ''])
baseball_regular['start_date_time'] = pd.to_datetime(baseball_regular['start_time']+baseball_regular['date'])

In [592]:
baseball_regular[baseball_regular['start_date_time']==baseball_regular['start_date_time'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,start_date_time
395,36787.000,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,1,...,6.000,out to Leftfield,Unknown,3,3.233,regular season,0,1,Loss,2016-10-02 15:17:00

# 8. У какой игры было минимальное количество зрителей?

In [593]:
baseball_regular.loc[[baseball_regular['attendance'].argmin()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,start_date_time
220,0.000,St. Louis Cardinals,1,8,3,2016-07-26,on grass,Day Game,New York Mets,1,...,11.000,out to Rightfield,Cloudy,5,3.300,regular season,0,1,Loss,2016-07-26 16:11:00

или если не учитывать строки с 0 значением

In [594]:
baseball_regular[baseball_regular['attendance']==baseball_regular[(baseball_regular['attendance']>0)].attendance.min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,start_date_time
2130,8766.000,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,0,...,11.000,from Left to Right,Overcast,4,2.317,regular season,1,0,Win,2016-05-04 18:10:00

# 9. Какая игра в сезоне была самая ветренная?

In [595]:
baseball_regular.iloc[[baseball_regular['wind_speed'].argmax()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,start_date_time
1655,41543.000,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,0,...,25.000,out to Centerfield,Cloudy,16,3.633,regular season,1,0,Win,2016-06-13 19:15:00

# 10. В какой игре получили максимальное количество очков?

In [596]:
baseball_regular.iloc[[baseball_regular['home_team_runs'].argmax()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,start_date_time
472,35093.000,Philadelphia Phillies,0,3,0,2016-09-25,on grass,Day Game,New York Mets,1,...,14.000,in from Leftfield,Sunny,17,3.533,regular season,1,0,Win,2016-09-25 13:12:00

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [597]:
baseball_regular.iloc[[baseball_regular['home_team_errors'].argmax()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,start_date_time
1178,22581.000,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,5,...,9.000,in from Leftfield,Cloudy,9,2.933,regular season,0,1,Loss,2016-07-27 19:10:00

# 12. В какой игре было максимальное количество хитов?

In [598]:
baseball_regular.iloc[[baseball_regular['home_team_hits'].argmax()]]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,start_date_time
1423,36137.000,Chicago Cubs,0,11,3,2016-07-03,on grass,Day Game,New York Mets,1,...,3.000,out to Leftfield,Cloudy,17,3.283,regular season,1,0,Win,2016-07-03 13:12:00

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [599]:
pd.DataFrame(baseball_regular.groupby(by=['away_team']).size())+pd.DataFrame(baseball_regular.groupby(by=['home_team']).size())

                                 0
away_team
Arizona Diamondbacks           162
Atlanta Braves                 161
Baltimore Orioles              162
Boston Red Sox                 162
Chicago Cubs                   162
Chicago White Sox              162
Cincinnati Reds                162
Cleveland Indians              161
Colorado Rockies               162
Detroit Tigers                 161
Houston Astros                 162
Kansas City Royals             162
Los Angeles Angels of Anaheim  162
Los Angeles Dodgers            162
Miami Marlins                  161
Milwaukee Brewers              162
Minnesota Twins                162
New York Mets                  162
New York Yankees               162
Oakland Athletics              162
Philadelphia Phillies          162
Pittsburgh Pirates             162
San Diego Padres               162
San Francisco Giants           162
Seattle Mariners               162
St. Louis Cardinals            162
Tampa Bay Rays                 162
Texas Rangers                  162
Toronto Blue Jays              162
Washington Nationals           162

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [600]:
# baseball_regular.iloc[
home_teams = baseball_regular[['home_team','home_team_win', 'home_team_loss']].pivot_table(values=['home_team_win', 'home_team_loss'], 
                                                                              index=['home_team' ],
                                                                              aggfunc='sum')
home_teams.rename(columns={'home_team':'team', 'home_team_win':'win', 'home_team_loss':'loss'}, inplace=True)
away_teams = baseball_regular[['away_team','home_team_win', 'home_team_loss']].pivot_table(values=['home_team_loss', 'home_team_win'], 
                                                                              index=['away_team' ],
                                                                              aggfunc='sum')
away_teams.rename(columns={'away_team':'team', 'home_team_win':'loss', 'home_team_loss':'win'}, inplace=True)
teams_results = home_teams+away_teams
teams_results.iloc[[teams_results['win'].argmax()]]

              loss  win
home_team
Chicago Cubs    58  103

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [601]:
temp_df = pd.DataFrame(baseball_regular[['home_team', 'home_team_win']].groupby(by=['home_team']).sum())
temp_df.iloc[temp_df['home_team_win'].argmax()]

home_team_win    57
Name: Chicago Cubs, dtype: int64

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [602]:
temp_df = pd.DataFrame(baseball_regular[['away_team', 'home_team_loss']].groupby(by=['away_team']).sum())
temp_df.iloc[temp_df['home_team_loss'].argmax()]

home_team_loss    48
Name: St. Louis Cardinals, dtype: int64

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [603]:
teams_results.iloc[[teams_results['loss'].argmax()]]

                 loss  win
home_team
Minnesota Twins   103   59

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [604]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
baseball_regular.cov()

,attendance,away_team_errors,away_team_hits,away_team_runs,home_team_errors,home_team_hits,home_team_runs,temperature,wind_speed,total_runs,game_hours_dec,home_team_win,home_team_loss
attendance,96677382.018,190.453,-1057.962,-1161.745,-144.156,134.665,908.906,4801.296,8201.258,-252.839,194.248,237.410,-233.232
away_team_errors,190.453,0.631,0.089,0.102,0.013,0.419,0.541,0.101,0.185,0.643,0.043,0.038,-0.038
away_team_hits,-1057.962,0.089,12.332,8.513,0.530,1.371,0.567,1.617,0.371,9.080,0.750,-0.768,0.770
away_team_runs,-1161.745,0.102,8.513,9.642,0.689,0.974,0.376,1.520,0.325,10.018,0.545,-0.880,0.882
home_team_errors,-144.156,0.013,0.530,0.689,0.645,-0.021,-0.018,0.215,0.178,0.671,0.056,-0.068,0.069
home_team_hits,134.665,0.419,1.371,0.974,-0.021,11.867,8.272,3.017,1.067,9.246,0.544,0.651,-0.648
home_team_runs,908.906,0.541,0.567,0.376,-0.018,8.272,9.737,2.023,1.086,10.113,0.303,0.837,-0.836
temperature,4801.296,0.101,1.617,1.520,0.215,3.017,2.023,111.284,-5.192,3.543,0.165,0.111,-0.106
wind_speed,8201.258,0.185,0.371,0.325,0.178,1.067,1.086,-5.192,25.619,1.411,0.057,0.087,-0.089
total_runs,-252.839,0.643,9.080,10.018,0.671,9.246,10.113,3.543,1.411,20.132,0.847,-0.043,0.046
game_hours_dec,194.248,0.043,0.750,0.545,0.056,0.544,0.303,0.165,0.057,0.847,0.208,-0.034,0.034
home_team_win,237.410,0.038,-0.768,-0.880,-0.068,0.651,0.837,0.111,0.087,-0.043,-0.034,0.249,-0.249
home_team_loss,-233.232,-0.038,0.770,0.882,0.069,-0.648,-0.836,-0.106,-0.089,0.046,0.034,-0.249,0.249

учитывая то, что ковариация между attendance и home_team_win положительная, следовательно положительная связь присутствует и статистически выйгрыш матча зависит от количества посетителей.

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [605]:
baseball_regular[['day_of_week', 'home_team_loss']].groupby(by=['day_of_week']).sum().sort_values(by='home_team_loss').iloc[-2:]

             home_team_loss
day_of_week
Tuesday                 185
Sunday                  189

нет, большее количество выйгрышных матчей приходится на вторник и воскресенье

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

поскольку в датасете темпетарура в Фаренгейтах, а 0 в Фаренгейтах как-то уж очень холодно, я перевела в градусы Цельсия и брала температуру ниже 0 в Цельсиях, это 32 по Фаренгейту.

In [606]:
temp_df = baseball_regular[['temperature', 'home_team_runs', 'away_team_runs']]
temp_df.iloc[temp_df.idxmax()]

      temperature  home_team_runs  away_team_runs
2061       54.000               8               7
507        73.000               0               2
1476       73.000               5               2

как мы видим для максимальных значений ранов температура выше 32, значит предположение неверное.